.Flex{
  display:flex;
  align-items:center;
  justify-content:center;

}
.Flex--Space_between{
  justify-content: space-between;
}
.Flex__image{
  width: 100%;
  height: auto;
}
.Flex--noMobile{
  display: none;
}
.Flex__image--vertical{
  width: auto;
  height: 100%;
}
.Flex--row{
  flex-direction:column;
}
.Flex--column{
  flex-direction:column;
  margin: 2em 0;
}
.Flex--column--no-margin{
  flex-direction:column;
  margin: 0;
}
.Flex--column--no-margin--bottom{
  flex-direction:column;
  margin-top: 2em;
}
.Flex--40{
  width: 100%;
}
.Flex--1{
  flex:1;
}
.Flex--10{
  width: 100%;
}
.Flex__container{
  width: 80%;
}
.Flex--row--top {
  align-self: flex-start;
}

.Flex--row--bottom {
  align-self: flex-end;
}
.Flex__title {
  margin: 0 0 1.5em;
  font-size: 1.5em;
  position: relative;
}
.Flex__content--Margin--left50 {
  margin-left: 50%;
  margin-right: 5%;
  text-align: right;
}

.Flex__content--Margin--right50 {
  margin-right: 50%;
  margin-left: 5%;
}
.Flex--80 {
  width: 80%;
}

.Flex--1 {
  flex: 1;
}

.Flex--30 {
  width: 80%;
}
.Flex--Titulo2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.Flex--start {
  align-self: flex-start;
}
.Flex--end{
  align-self: flex-end;
}
.Flex--no-margin-bottom{
  margin-bottom: auto;
}
.Flex--no-margin-top{
  margin-top: auto;
}
.Flex__imageContainer--vertical{
  overflow: hidden;
  position: relative;
  margin:0 2em;
  justify-content: flex-start;
}
@media(min-width: 760px) {
  .Flex__image{
    width: 100%;
    height: auto;
  }
  .Flex__image--vertical{
    width: auto;
    height: 100%;
  }
  .Flex__imageContainer{
    overflow: hidden;
    position: relative;
    margin:0 2em;
  }
  .Flex__imageContainer--vertical{
    overflow: hidden;
    position: relative;
    margin:0 2em;
    justify-content: flex-start;
  }
  .Flex__image{
    align-self: baseline;
  }
  .Flex--row {
    flex-direction: row;
  }
  .Flex--column {
    flex-direction: column;
    margin: 3em 0;
  }
  .Flex--40 {
    width: 40%;
  }
  .Flex--1 {
    flex: 1;
  }
  .Flex--10 {
    width: 10%;
  }
  .Flex__container {
    width: 80%;
  }
  .Flex--row--top {
    align-self: flex-start;
  }

  .Flex--row--bottom {
    align-self: flex-end;
  }
  .Flex__title {
    margin: 0;
    font-size: 1.5em;
  }
  .Flex__content--Margin--left50 {
    margin-left: 50%;
    margin-right: 5%;
    text-align: right;
  }

  .Flex__content--Margin--right50 {
    margin-right: 50%;
    margin-left: 5%;
  }
  .Flex--80 {
    width: 80%;
  }

  .Flex--1 {
    flex: 1;
  }

  .Flex--30 {
    width: 30%;
  }
  .Flex--Titulo2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  .Flex--start {
    align-self: flex-start;
  }
  .Flex--end {
    align-self: flex-end;
  }
  .Flex--no-margin-bottom {
    margin-bottom: -10%;
  }
  .Flex--no-margin-top {
    margin-top: -10%;
  }
  .Flex--Space_between{
    justify-content: space-between;
  }
  .Flex--noMobile{
    display: flex;
  }
}