body{
	display:flex;
	flex-direction:column;
	*{
		font-family:$font-family-base
	}
}
*{
-webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}
.clearfix{
	clear: both;
}
.contenedor {
	padding-top: 80px;
}

.imagenmovil{
  position: absolute;
  display: none;
}

@media(min-width: 760px) {
  .contenedor {
	padding-top: 36px;
  }
  .imagenmovil{
	display:block;
  }
}